*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: 'font';
  src: url('./assets/fonts/telemarines3dital1.ttf');
  font-weight: 500;
}